In [1]:
from benchmarks.utils import *
from benchmarks.census import get_datasets_df

## [Papermill](https://papermill.readthedocs.io/en/latest/) params:

In [2]:
census_uri = None
census_version = "2023-12-15"
collection_id = '283d65eb-dd53-496d-adb7-7570c7caa443'

In [3]:
census = cellxgene_census.open_soma(uri=census_uri, census_version=census_version)
datasets = get_dataset_ids(census, collection_id)
len(datasets), datasets[:10]

(138,
 ['8e10f1c4-8e98-41e5-b65f-8cd89a887122',
  'b165f033-9dec-468a-9248-802fc6902a74',
  'ff7d15fa-f4b6-4a0e-992e-fd0c9d088ded',
  'fe1a73ab-a203-45fd-84e9-0f7fd19efcbd',
  'fbf173f9-f809-4d84-9b65-ae205d35b523',
  'fa554686-fc07-44dd-b2de-b726d82d26ec',
  'f9034091-2e8f-4ac6-9874-e7b7eb566824',
  'f8dda921-5fb4-4c94-a654-c6fc346bfd6d',
  'f7d003d4-40d5-4de8-858c-a9a8b48fcc67',
  'f6d9f2ad-5ec7-4d53-b7f0-ceb0e7bcd181'])

List datasets from collection:

In [4]:
ddf = get_datasets_df(census, collection_id)
ddf

,soma_joinid,collection_id,collection_name,collection_doi,dataset_id,dataset_version_id,dataset_title,dataset_h5ad_path,dataset_total_cell_count
0,102,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,8e10f1c4-8e98-41e5-b65f-8cd89a887122,674227af-0c09-4b2c-8abb-0cb0621e9af2,All neurons,8e10f1c4-8e98-41e5-b65f-8cd89a887122.h5ad,2480956
1,139,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,b165f033-9dec-468a-9248-802fc6902a74,8f2775a8-1a55-4f3c-baf8-23d91b5e6ba3,All non-neuronal cells,b165f033-9dec-468a-9248-802fc6902a74.h5ad,888263
2,198,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,ff7d15fa-f4b6-4a0e-992e-fd0c9d088ded,ad4f40b1-ad1b-43ef-85dd-a5d0dbc35766,"Dissection: Cerebral cortex (Cx) - Cuneus, ros...",ff7d15fa-f4b6-4a0e-992e-fd0c9d088ded.h5ad,28051
3,199,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,fe1a73ab-a203-45fd-84e9-0f7fd19efcbd,ca8e9e3a-852f-487f-9196-e6eb094e18ff,Dissection: Amygdaloid complex (AMY) - basolat...,fe1a73ab-a203-45fd-84e9-0f7fd19efcbd.h5ad,35285
4,200,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,fbf173f9-f809-4d84-9b65-ae205d35b523,3cd2b19b-7bda-4ad5-81d7-a7e486d9ef27,Dissection: Thalamus (THM) - lateral nuclear c...,fbf173f9-f809-4d84-9b65-ae205d35b523.h5ad,17660
...,...,...,...,...,...,...,...,...,...
133,329,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,07b1d7c8-5c2e-42f7-9246-26f746cd6013,2fd1d8cc-b463-4191-8ad9-ca8f5582e377,Dissection: Myelencephalon (medulla oblongata)...,07b1d7c8-5c2e-42f7-9246-26f746cd6013.h5ad,27210
134,330,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,04a23820-ffa8-4be5-9f65-64db15631d1e,5452b43f-7a47-4fd7-8447-81550c05e5cb,Supercluster: Upper rhombic lip,04a23820-ffa8-4be5-9f65-64db15631d1e.h5ad,137162
135,331,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,03d38670-1444-4001-bc53-9936e61d9b20,91bfa4c5-6167-4f38-8850-8b75bacdefd4,Dissection: Hypothalamus (HTH) - preoptic regi...,03d38670-1444-4001-bc53-9936e61d9b20.h5ad,20027
136,332,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,0325478a-9b52-45b5-b40a-2e2ab0d72eb1,789736b6-7d28-444d-a600-b76c607d041e,Supercluster: Upper-layer intratelencephalic,0325478a-9b52-45b5-b40a-2e2ab0d72eb1.h5ad,455006
137,333,283d65eb-dd53-496d-adb7-7570c7caa443,Human Brain Cell Atlas v1.0,10.1126/science.add7046,00476f9f-ebc1-4b72-b541-32f912ce36ea,5fe1baf0-1209-49af-a859-3cd2a28414e9,Dissection: Hypothalamus (HTH) - mammillary re...,00476f9f-ebc1-4b72-b541-32f912ce36ea.h5ad,10099

Sort datasets in order of increasing cell count, compute cumulative sums:

In [5]:
sagg = ddf.set_index('dataset_id').dataset_total_cell_count.sort_values().reset_index()
sagg['sum'] = sagg.dataset_total_cell_count.cumsum()
sagg

                               dataset_id  dataset_total_cell_count       sum
0    470565f2-5afc-456a-b617-18e4496c04fd                      4714      4714
1    f16f4108-7873-4035-9989-3748da1a7ff1                      4720      9434
2    6dafb698-7a53-4699-ad13-1b5e2c164be7                      5882     15316
3    f6d9f2ad-5ec7-4d53-b7f0-ceb0e7bcd181                      6877     22193
4    cfa755c1-48c5-4336-94f4-aa95eca4fbd5                      7689     29882
..                                    ...                       ...       ...
133  3a7f3ab4-a280-4b3b-b2c0-6dd05614a78c                    291833   5793186
134  0325478a-9b52-45b5-b40a-2e2ab0d72eb1                    455006   6248192
135  40e79234-65e8-45e9-b555-5c663154a108                    490246   6738438
136  b165f033-9dec-468a-9248-802fc6902a74                    888263   7626701
137  8e10f1c4-8e98-41e5-b65f-8cd89a887122                   2480956  10107657

[138 rows x 3 columns]

## 1e6 cutoffs
How many / Which datasets should be combined, to yield a total number of cells greater than each multiple of 1e6?

In [6]:
mms = sagg['sum'] // 1e6
sagg[mms != mms.shift(1)]

                               dataset_id  dataset_total_cell_count       sum
0    470565f2-5afc-456a-b617-18e4496c04fd                      4714      4714
55   fa554686-fc07-44dd-b2de-b726d82d26ec                     29674   1006139
85   77c1c785-809f-4065-8c54-6a0170783256                     37767   2016785
109  7c1c3d47-3166-43e5-9a95-65ceb2d45f78                     49512   3020635
123  e1f595f6-ba2c-495e-9bee-7056f116b1e4                    107301   4025595
130  e4710a02-8abc-48d5-a3e8-9ae7e9d79bdb                    222434   5045215
134  0325478a-9b52-45b5-b40a-2e2ab0d72eb1                    455006   6248192
136  b165f033-9dec-468a-9248-802fc6902a74                    888263   7626701
137  8e10f1c4-8e98-41e5-b65f-8cd89a887122                   2480956  10107657

In [7]:
sagg.iloc[:50]

                              dataset_id  dataset_total_cell_count     sum
0   470565f2-5afc-456a-b617-18e4496c04fd                      4714    4714
1   f16f4108-7873-4035-9989-3748da1a7ff1                      4720    9434
2   6dafb698-7a53-4699-ad13-1b5e2c164be7                      5882   15316
3   f6d9f2ad-5ec7-4d53-b7f0-ceb0e7bcd181                      6877   22193
4   cfa755c1-48c5-4336-94f4-aa95eca4fbd5                      7689   29882
5   50dc91a1-36b6-472a-b884-7307b6961ab1                      8041   37923
6   d5452b83-7c3d-4d7c-ab7a-c7fece7196c5                      8077   46000
7   ed11cc3e-2947-407c-883c-c53b043917c3                      8573   54573
8   531c9543-9093-45ed-93ac-ebc5815bfb8a                      9156   63729
9   0d7f4c06-a6bd-47d2-a42b-3a7196704f77                      9932   73661
10  00476f9f-ebc1-4b72-b541-32f912ce36ea                     10099   83760
11  9ec335f2-420a-45a8-b45a-1ab646e50041                     10654   94414
12  2a8ca8f3-5599-4cda-b973-3a2dfc3c1fe6                     10778  105192
13  c4dd26a8-d956-4bee-a233-44b573f2ce27                     11265  116457
14  bac09168-940b-4b11-8d55-b4955f80b98d                     12461  128918
15  22658f4f-9268-41ad-8828-cc53f4baa9fa                     12557  141475
16  364348b4-bc34-4fe1-a851-60d99e36cafa                     12944  154419
17  40569510-2282-461b-84df-6218ef208e0e                     13173  167592
18  b8681124-aabf-4904-b9c9-66d834bf5bba                     13382  180974
19  0ee5ae70-c3f5-473f-bd1c-287f4690ffc5                     13623  194597
20  c5cfa2b7-abb1-4a50-908f-707b54ca606b                     14094  208691
21  adda0684-f8ea-4403-b393-2a25607077c4                     14226  222917
22  c7856243-c59a-4b70-8ce7-25b94c2d9da1                     14352  237269
23  bd6b68e8-179a-42f0-9bde-b4fdf7d34dd1                     14411  251680
24  64767efb-49b0-4562-a1bd-e619a5d9db41                     14979  266659
25  599504e5-d4ad-45bd-9128-823faf0fb9c9                     16602  283261
26  35c8a04c-8639-4d15-8228-765d8d93fc96                     16753  300014
27  8039c63d-08b0-4fc9-af0f-5b57f08ca0da                     17535  317549
28  fbf173f9-f809-4d84-9b65-ae205d35b523                     17660  335209
29  f20f44ef-a0d4-4d94-87de-037fd47141f0                     18728  353937
30  35090826-f636-40c1-a3ef-4466beeab9f8                     18856  372793
31  03d38670-1444-4001-bc53-9936e61d9b20                     20027  392820
32  a5b5d1f3-dd8b-44f6-a685-15f0f741c062                     20162  412982
33  5a73f63f-18a2-49b5-b431-2c469c41a41b                     20916  433898
34  1a018108-b4b6-457b-ba15-046d5e98c169                     21534  455432
35  f9034091-2e8f-4ac6-9874-e7b7eb566824                     23120  478552
36  77044335-0ac5-4406-9b3f-8cdd3656d67b                     23349  501901
37  dd03ce70-3243-4c96-9561-330cc461e4d7                     23732  525633
38  f3565fda-499a-4d20-bd92-563c09954c42                     24155  549788
39  090da8ea-46e8-40df-bffc-1f78e1538d27                     24190  573978
40  93131426-0124-4ab4-a013-9dfbcd99d467                     24327  598305
41  367b55f4-d543-49aa-90e8-4765fcb8c687                     24354  622659
42  4d43082e-59cd-43ac-b77d-54d55519c881                     24808  647467
43  59923449-e303-43e6-9e63-03ef92f5ebd1                     25071  672538
44  d6a5b240-cc8f-45c1-ad36-2fc291e15e8e                     25875  698413
45  7cd3c321-e487-4b51-a8af-9bf671b59fe5                     26095  724508
46  381aa407-317a-40ef-8048-7ce0eacc4266                     26172  750680
47  a7b4f565-691d-43ea-bf4a-d2d1d52bb4b4                     27111  777791
48  07b1d7c8-5c2e-42f7-9246-26f746cd6013                     27210  805001
49  a59ba9fa-1407-4f15-8c56-d3637421570d                     28028  833029